version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db
    migrate:
      image: migrate/migrate
      volumes:
      - ./migrations:/migrations

      command: -path=/migrations/ -database "postgres://admin:secret@db:5432/pricepulse?sslmode=disable" up
      depends_on:
        db:
           condition: service_healthy

  db:  
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: